/* (A) SHARED */
#ctime *, #tpick * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}
#ctime, #tpick, .square { padding: 10px; }
#ctime, #tpick {
  margin: 0 auto;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
}
.header {
  font-weight: normal;
  width: 100%;
  margin: 10px 0;
}
.square, #tpick-h, #tpick-m, #tpick-s { width: 33%; }
.text, #tset, #treset { margin-top:10px; }
.digits, .square select {
  font-size: 24px;
  background: #fff;
  color: #000;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
}

/* (B) CURRENT TIME */
#ctime { background: rgb(255, 255, 255); }
#ctime .header { color: #000000; }
#ctime .text { color: rgb(0, 0, 0); }

/* (C) TIME PICKER */
#tpick { background: #ffffff; 
  display: flex; 
  justify-content: space-between;
}
#tset, #treset {
  width: 40%;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 0;
  padding: 15px 0;
  border:3px solid #000;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5%;
}
#tset:disabled, #treset:disabled {
  background: #aaa;
  color: #888;
}
